.lele--header {
  height: 42px;
  background-color: #78C800;
  border-bottom: 2px solid #71B200;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  align-items: center;
  display: flex;
  color: white;
}
.lele--header .lele--burger-icon {
  padding: 0 12px;
}
.lele--header h1 {
  font-weight: initial;
  font-size: 1.3rem;
}
.lele--header .search-input {
  background-color: #ABFB33;
  height: 30px;
  border-radius: 2px;
  padding: 2px 16px;
  box-shadow: none;
  color: #808080;
}
.lele--header .search-input input::placeholder {
  color: #808080;
  font: Arial;
}
.lele--header .search-input input {
  color: #808080;
  outline: none;
  height: 30px;
  border: none;
  background: none;
}
.lele--header .lele--menu {
  display: none;
}
.lele--header .lele--menu .lele--menu-item {
  cursor: pointer;
  display: flex;
  height: 18px;
  padding: 8px 16px;
  margin: 0 2px;
  transition: 0.1s all;
  border-radius: 2px;
}
.lele--menu .lele--menu-item a {
  color: #fff;
  text-decoration: none;
}
.lele--header .lele--menu .lele--menu-item:hover {
  background-color: #71B200;
}
.lele--header.is-active {
  height: initial;
  flex-wrap: wrap;
}
.lele--header.is-active .lele--menu {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
.lele--header.is-active .lele--menu .lele--menu-item {
  height: 30px;
}

@media (min-width: 1024px) {
  .lele--header {
    padding: 0 16rem;
    height: 44px;
    justify-content: space-between;
  }
  .lele--header .lele--burger-icon {
    display: none;
  }
  .lele--header h1 {
    font-size: 1.7rem;
  }
  .lele--header .lele--menu {
    display: flex;
  }
}
