.header {
    height: 42px;
    background-color: var(--primary-color);
    border-bottom: 2px solid #557A2D;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    align-items: stretch;
    display: flex;
    color: white;
}

.header .burger-icon {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.header h1 {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: initial;
    font-size: 1.3rem;
}

.header .menu {
    display: none;
    margin: 0;
}

.header .menu .menu-item {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 16px;
    margin: 0 2px;
    transition: 0.1s all;
    border-radius: 2px;
    align-items: center;
}

.menu .menu-item a {
    color: #fff;
    text-decoration: none;
}

.header .menu .menu-item:hover {
    background-color: var(--primary-color-lighter-1);
}

.header.is-active {
    height: initial;
    flex-wrap: wrap;
}

.header.is-active .menu {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.header.is-active .menu .menu-item {
    height: 30px;
}

@media (min-width: 1024px) {
    .header {
        padding: 0 16rem;
        height: 44px;
        justify-content: space-between;
    }
    .header .burger-icon {
        display: none;
    }
    .header h1 {
        font-size: 1.7rem;
    }
    .header .menu {
        display: flex;
    }
}