.text-input {
  background-color: #EBF2FA;
  border: 1px solid #B8F3FF; 
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 3.2px;
  box-sizing: border-box;
  color: rgb(36, 41, 46);
  cursor: text;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  line-height: 20px;
  margin: 0px;
  max-width: 100%;
  min-height: 46px;
  padding: 10px;
  width: 332px;
}

.text-input:focus {
  border-color: #427AA1;
}
