body {
  height: 100vh;
  background: var(--background-color);
}

div#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Content helpers */

.bg-light {
  background: #FDFDFE;
}

.rounded {
  border-radius: 3px;
}